body {
  margin: 1%;
  padding: 1%;
  background-color: rgba(0, 0, 255, 0.2);
  font-size: 100%;
  min-width: 500px;
}

header, footer {
  background-color: #0066FF;
  padding: 1%;
  margin: 1%;
}

header h1 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

section {
  margin: 1%;
  padding: 1%;
}

nav a {
  display: block;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  border-radius: 35px;
  text-decoration: none;
  padding: 2%;
  margin: 1%;
}

h1 {
  text-align: center;
  color: rgba(255, 0, 0, 0.7);
}

.myClass {
  margin: 0em 1em;
  padding: 0.75em;
  border: 1px solid black;
  border-radius: 0.25%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

ol {
  list-style: upper-roman;
  margin: 1em;
}

img {
  display: none;
}

footer {
  clear: both;
  text-align: center;
  text-transform: uppercase;
}

/* Desktop View */
@media screen and (min-width: 900px) {
  header, footer {
    background-color: transparent;
  }
  img {
    display: block;
    width: 15vw;
    float: left;
    margin: 1rem 1rem 1rem 0;
  }
  h1::after {
    content: "(I guess...)";
  }
  nav a:link,
  nav a:visited {
    color: #000;
  }
  section#left {
    float: left;
  }
}

/* Tablet View – Requirement #1 */
@media screen and (min-width: 772px) {
  section#center > div {
    width: 45vw;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
  }

  section#center img {
    display: inline-block;
    max-height: 30vh;
    margin: 1%;
  }
}

/* Large Screen View – Requirement #2 */
@media screen and (min-width: 998px) {
  section#center > div {
    width: 30vw;
  }
}

/* Print View */
@media print {
  body {
    background-color: #fff;
  }
  header, footer {
    background-color: #fff;
  }
  nav a {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
  }
  .myClass {
    column-count: 1;
  }
}
